.content__subtitle {
  color: #313131;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
  padding: 24px 0 40px;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0px;
}

@media screen and (max-width: 376px) {
  .content__subtitle {
    padding-bottom: 32px;
  }
}