.stages__plane {
  position: absolute;
  bottom: -15px;
  right: -50px;
}

@media screen and (max-width: 376px) {
  .stages__plane {
    width: 317.2px;
    height: 123.75px;
    top: -25%;
    right: -10%;
  }
}