@import '../keyframes/keyframes.css';

.running-line {
  width: 100%;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  white-space: nowrap;
  background-color: #F54932;
  /* Цвет фона полосы */
  overflow: hidden;
}

.running-line__text {
  will-change: transform;
  white-space: nowrap;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Merriweather;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #FFF;
  animation: marquee 30s linear infinite;
  display: inline-block;
  /* Чтобы текст не переносился на новую строку */
  padding: 0 18px;
  margin: 0;
}

@media screen and (max-width: 376px) {
  .running-line {
    height: 38px;
  }

  .running-line__text {
    font-size: 16px;
    line-height: 18px;
  }
}

