.main__page {
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
  box-sizing: border-box;
  background-color: #fff;
}

@media screen and (max-width: 376px) {
  .main__page {
    padding-left: 19px;
    padding-right: 19px;
  }
}