.participants__lists {
  display: flex;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 60px 0 120px;
  scroll-snap-type: x mandatory;
}

@media screen and (max-width: 680px) {
  .participants__lists {
    column-gap: 0;
    padding-top: 0;
    padding-bottom: 11px;
  }
}