.afisha__bender {
  display: grid;
  grid-template-columns: 474px 1fr;
  grid-template-rows: 147px 1fr;
  grid-column-gap: 44px;
  grid-row-gap: 0px;
  padding-top: 0;
  padding-bottom: 176px;
}

.afisha__bender>p {
  grid-area: 1 / 2 / 2 / 3;
}

.afisha__bender>table {
  grid-area: 2 / 2 / 3 / 3;
}

.afisha__bender>a {
  grid-area: 3 / 2 / 4 / 3;
}

@media screen and (max-width: 936px) {
  .afisha__bender {
    grid-column-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 120px;
  }

  .afisha__bender>p {
    grid-area: 2 / 2 / 2 / 3;
  }

  .afisha__bender>table {
    grid-area: 3 / 2 / 3 / 3;
  }

  .afisha__bender>a {
    grid-area: 4 / 2 / 4 / 3;
  }
}