@media screen and (max-width: 936px) {
  .afisha__row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .afisha__row_flex {
    border-bottom: 2px solid #D0D0D0;
    flex-direction: row;
  }
}