.button__theme-dark {
    border-radius: 66px;
    background: #1F1F1F;
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "Golos Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    padding: 20px;
}